#rent-lockers {
  &.choose-locker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 60px;
    padding-bottom: 60px;

    gap: 50px;

    .top-section {
      display: flex;
      align-items: center;
      gap: 20px;
      height: 60%;

      p {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font: 600 25px 'Roboto';
      }

      .lockers {
        display: flex;
        gap: 5px;
        height: 370px;

        .lockers-parsed {
          display: grid;
          grid-template-columns: 1fr 1fr;
          column-gap: 5px;
          place-items: center;

          .img-container {
            border-radius: 8px;
            height: 80px;

            &.rented {
              filter: brightness(50%);
            }

            img {
              cursor: pointer;
              height: 80px;
            }
          }
        }

      }
    }
  }
}
