#choose-lockers-section {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px 20px;

  .in-section {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      cursor: pointer;
    }

    p {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font: 600 25px 'Roboto';
    }
  }
}

.choose-locker {
  padding: 60px 30px;
  border-radius: 50px;
  background: var(--light-gray);
}
