#profile-page {
  width: calc(100vw - var(--scrollbarWidth));

  display: flex;
  flex-direction: column;

  #toast {
    z-index: 10;
  }

  #modal {
    .modal-container {
      background: #fff;
      padding: 55px;
      border-radius: 50px;

      display: flex;
      align-items: center;

      &.vertical-modal {
        flex-direction: column;
        width: 650px;
      }

      img {
        width: 300px;
        height: 300px;
        border-radius: 100%;
      }

      .button-container {
        display: flex;
        flex-direction: column;
        margin-left: 20px;

        button {
          padding: 15px;
          background: #FFFFFF;
          border: 1px solid #DBDBDB;
          border-radius: 15px;
          box-shadow: 0px 4px 4px 0px #00000040;
          font-size: 25px;
          width: 320px;

          cursor: pointer;

          transition: background 0.5s;

          &:first-of-type {
            margin-bottom: 30px;
          }

          &:hover {
            background: #f1f1f1;
          }
        }

        input {
          display: none;
        }
      }

      .title {
        width: 100%;
        display: flex;
        justify-content: space-between;

        h1 {
          font: 600 40px 'Roboto';
        }

        button {
          background: none;
          border: none;
          cursor: pointer;
          font-size: 40px;
        }
      }

      .body {
        display: flex;
        flex-direction: column;
        align-items: center;

        width:100%;

        input {
          width: 100%;
          padding: 25px;
          border-radius: 10px;
          border: none;
          font-size: 25px;

          box-shadow: 0px 2px 6px 0px #00000040;

          margin-top: 20px;

          &:focus {
            outline: 0;
            box-shadow: 0px 2px 6px 0px #0000006b;
          }

          &:hover {
            box-shadow: 0px 2px 6px 0px #0000006b;
          }
        }

        p {
          margin-top: 20px;
          color: var(--medium-blue);
          font-size: 25px;
          align-self: flex-start;

          &:hover {
            cursor: pointer;
          }
        }

        button {
          margin-top: 20px;
          width: 95%;
          padding: 15px 0;
          border-radius: 15px;
          border: none;

          background: #0085FF;

          font: bold 30px 'Roboto';
          color: #fff;

          transition: filter 0.4s;
          // transition: opacity 0.2s;

          &:hover {
            cursor: pointer;
            filter: grayscale(30%);
            // filter: opacity(90%);
          }
        }
      }
    }
  }

  main {
    width: 1350px;
    align-self: center;
    padding: 50px 0 80px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-informations-section {
      display: flex;
      align-items: center;
      height: 250px;
      margin-bottom: 60px;

      img {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        margin-right: 25px;
      }

      .section-content {
        .name {
          font-size: 45px;
          margin-bottom: 10px;
        }

        .email {
          font-size: 25px;
          color: #989898;
          margin-bottom: 35px;
        }

        button {
          padding: 15px;
          background: #FFFFFF;
          border: 1px solid #DBDBDB;
          border-radius: 15px;
          box-shadow: 0px 4px 4px 0px #00000040;
          font-size: 25px;

          cursor: pointer;

          transition: background 0.5s;

          &:first-of-type {
            margin-right: 20px;
          }

          &:hover {
            background: #f1f1f1;
          }
        }
      }
    }

    .locker-section {
      width: 100%;

      h1 {
        font: 600 50px 'Roboto';
        padding: 0 0 15px 30px;
        border-bottom: 1px solid #000;
      }

      .locker {
        padding: 40px 100px;
        margin-top: 40px;
        background: #F2F2F2;
        border-radius: 25px;

        display: flex;

        &.no-locker {
          background: #fff;
          justify-content: center;
          align-items: center;
          height: 100%;

          .content-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-left: 20px;

            p {
              color: var(--medium-gray-text);
              font-size: 30px;
              margin-bottom: 20px
            }

            a {
              padding: 15px;
              color: #fff;
              font-size: 25px;
              font-weight: 700;
              background: var(--medium-blue);
              text-decoration: none;
              border-radius: 15px;
              width: fit-content;
            }
          }
        }

        &.contain-locker {
          justify-content: space-between;

          .left-section {
            display: flex;

            .left-section-content {
              margin-left: 30px;

              .title {
                font-size: 40px;
                margin-bottom: 5px;
              }

              .subtitle {
                font-size: 23px;
                color: #535353;
              }
            }
          }

          .right-section {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            padding: 15px 0;

            .row {
              display: flex;
              align-items: center;
              font-size: 25px;

              .row-title {
                margin-right: 10px;
              }

              .row-content {
                color: #535353;
              }

              .locker-color {
                margin-left: 10px;
                height: 20px;
                width: 20px;
                border-radius: 8px;
                background: #FF7B7B;
              }
            }
          }
        }
      }
    }
  }

}
