#submit-payment-prove {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  &.dark {
    button {
      background: #2d2e30;

      svg, p {
        color: #a7a7a7;
      }

      &:hover {
        background: #313131;
      }
    }

    .review-files-div {
      .submit-button {
        color: #202124;
        background: #8ab4f8;

        &:hover {
          background: #7aa4e8;
        }
      }
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #F2F2F2;
    border: none;
    border-radius: 20px;
    width: 80%;
    padding: 100px;

    cursor: pointer;

    transition: background 0.5s, padding 0.5s;

    &:hover {
      background: #dfdddd;
    }

    .file-icon {
      font-size: 80px;
      margin-right: 10px;
    }

    p {
      text-align: left;
      font-size: 35px;
      font-weight: 500;
    }

    &.small-button {
      padding: 80px;

      .file-icon {
        font-size: 40px;
        margin-right: 10px;
      }

      p {
        text-align: left;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }

  input {
    display: none;
  }

  .review-files-div {
    display: flex;
    align-items: center;
    gap: 20px;

    .submit-button {
      padding: 30px 50px;
      color: #fff;
      width: unset;
      min-width: 161px;
      font-size: 20px;
      font-weight: 500;
      background: var(--medium-blue);
      transition: filter .5s;

      &.loading {
        pointer-events: none;
        filter: grayscale(50);
      }

      &:hover {
        cursor: pointer;
        filter: grayscale(40%);
      }
    }

    p {
      font-size: 20px;
    }
  }
}
