#rent-lockers {
  &.dark {
    background: #2d2e30;
  }

  display: grid;
  grid-template-columns: auto auto;
  gap: 40px 20px;
  padding: 60px 30px;
  border-radius: 50px;
  background: var(--light-gray);
}
