nav{
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav-header {
    background-color: var(--dark-blue);
    width: 100%;

    p {
      font: 400 18px 'Roboto';
      color: #fff;

      padding: 15px 200px;
    }
  }

  .nav-body {
    width: 1320px;
    height: 145px;
    padding: 0 55px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #D0D0D0;

    .unicamp-logo {
      padding: 0 90px;
      height: 75px;
    }

    div {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .link {
        font: 500 30px 'Roboto';
        color: #000;
        text-decoration: none;

        &.actual-page {
          color: var(--dark-yellow);
        }

        &:hover {
          cursor: pointer;
        }
      }

      .profile-picture {
        width: 75px;
        border-radius: 100%;

        &:hover {
          cursor: pointer;
        }
      }

      .login-button {
        font: bold 30px 'Roboto';
        color: #fff;
        text-decoration: none;

        padding: 15px 20px;
        border-radius: 15px;
        background: var(--medium-blue);
      }
    }
  }
}
