nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;

  .nav-header {
    background-color: var(--dark-blue);
    width: 100%;

    p {
      font: 400 18px 'Roboto';
      color: #fff;

      padding: 15px 200px;
    }
  }

  .nav-body {
    width: 1320px;
    height: 145px;
    padding: 0 55px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid #D0D0D0;

    .unicamp-logo {
      padding: 0 90px;
      height: 75px;
    }

    div {
      width: 100%;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .link {
        font: 500 30px 'Roboto';
        color: #000;
        text-decoration: none;

        &.actual-page {
          color: var(--dark-yellow);
        }

        &:hover {
          cursor: pointer;
        }
      }

      .profile-picture-container {
        display: flex;
        flex-direction: column;
        position: relative;
        width: fit-content;

        .profile-picture {
          width: 75px;
          height: 75px;
          border-radius: 100%;

          &:hover {
            cursor: pointer;
          }
        }

        .profile-picture-dropdown {
          display: none;
          position: absolute;
          z-index: 2;
          bottom: -10px;
          transform: translatey(100%);
          flex-direction: column;
          align-items: flex-start;
          background: #F8F8F8;
          padding: 5px 15px;
          width: 270px;
          border-radius: 10px;
          box-shadow: 4px 4px 48px 0px #0000003d;

          &::before {
            content: '';
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 5px solid #F8F8F8;
            position: absolute;
            top: -5px;
            left: 50%;
            z-index: 5;
            transform: translateX(-50%)
          }

          .dropdown-content {
            font-size: 20px;
            color: #464646;
            padding: 15px 0;
            border-bottom: 1px solid #E0E0E0;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            z-index: 2;

            &.actual-page {
              color: rgb(114, 114, 114);

              a {
                color: rgb(114, 114, 114);
              }
            }

            a {
              text-decoration: none;
              color: #464646;


            }

            svg {
              width: 25px;
              height: 25px;
            }

            &:last-child {
              border-bottom: none;
            }

            .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase > .css-jsexje-MuiSwitch-thumb{
              background:  #e4e4e4;
            }

            .Mui-checked  >  .css-jsexje-MuiSwitch-thumb{
              background:  #303134;
            }
          }

          @keyframes fade_in_show {
            0% {
              opacity: 0;
              transform: translatey(100%) scale(0)
            }

            100% {
              opacity: 1;
              transform: translatey(100%) scale(1)
            }
          }
        }
      }

      .login-button {
        font: bold 30px 'Roboto';
        color: #fff;
        text-decoration: none;

        padding: 15px 20px;
        border-radius: 15px;
        background: var(--medium-blue);
      }
    }
  }
}
