.choose-locker-section {
  .in-section {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      cursor: pointer;
    }

    p {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font: 600 25px 'Roboto';
    }
  }
}
