#rent-locker-page {
  width: calc(100vw - var(--scrollbarWidth));

  display: flex;
  flex-direction: column;

  #modal {
    .modal-container {
      &.locker-modal {
        width: 800px;
        height: 500px;

        background: #fff;
        padding: 55px;
        border-radius: 50px;

        display: flex;
        align-items: unset;
      }

      .content {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .title {
          font: 400 40px 'Roboto';
          width: 70%;
        }

        .info {
          p {
            font: 400 25px 'Roboto';

            span {
              color: #535353;

              &.disponibility-span,
              &.color-span {
                position: relative;

                &:after {
                  content: '';
                  display: block;
                  height: 20px;
                  width: 20px;
                  border-radius: 5px;

                  position: absolute;
                  top: 50%;
                  right: 0;
                  transform: translate(150%, -50%);
                }
              }
            }
          }
        }


        button {
          margin-top: 20px;
          width: 70%;
          padding: 15px 0;
          border-radius: 15px;
          border: none;

          background: #0085FF;

          font: bold 20px 'Roboto';
          color: #fff;

          transition: filter 0.4s;
          // transition: opacity 0.2s;

          &:hover {
            cursor: pointer;
            filter: grayscale(30%);
            // filter: opacity(90%);
          }
        }
      }



      .body {
        display: flex;
        flex-direction: column;
        align-items: center;

        width:100%;

        input {
          width: 100%;
          padding: 25px;
          border-radius: 10px;
          border: none;
          font-size: 25px;

          box-shadow: 0px 2px 6px 0px #00000040;

          margin-top: 20px;

          &:focus {
            outline: 0;
            box-shadow: 0px 2px 6px 0px #0000006b;
          }

          &:hover {
            box-shadow: 0px 2px 6px 0px #0000006b;
          }
        }

        p {
          margin-top: 20px;
          color: var(--medium-blue);
          font-size: 25px;
          align-self: flex-start;

          &:hover {
            cursor: pointer;
          }
        }


      }
    }
  }

  main {
    width: 1350px;
    align-self: center;
    padding: 50px 0 80px;

    .title-container {
      padding: 0 0 60px  30px;

      .page-title {
        font: 500 40px 'Roboto';
      }

      .page-subtitle {
        font-size: 25px;
        color: #717171;
      }
    }
  }
}
