:root {
  --medium-blue: #0085FF;
  --dark-blue: #002147;

  --light-gray: #F6F6F6;
  --medium-gray: #EEEEEE;

  --dark-yellow: #FDC800;

  --light-gray-text: #CDCDCD;
  --medium-gray-text: #717171;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

p {
  &:hover {
    cursor: default;
  }
}

main {
  z-index: 0;
}
